@model IEnumerable<WildPath.ViewModels.UserVM>

@{
    ViewData["Title"] = "User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles for Users</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Assign a New User Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <span>Email</span>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>@item.Email</td>
                <td>
                    @Html.ActionLink(
                             "View Roles"
                             , "Detail"
                             , new { userName = item.Email },
                             new { @class = "btn btn-dark" })
                </td>
            </tr>
}
    </tbody>
</table>
