html {
  font-size: 14px;
}

.styling-link {
    color: #0000FF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

.terms-link:hover {
    color: #00008B;
}

.terms-link:focus {
    outline: none;
}

.text-center {
    text-align: center;
    margin-top: 100px;
}




.product-grids {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    justify-content: space-between;
}

.product-cards {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.product-images {
    width: 40%;
    height: fit-content;
    display: block;
}

.product-info {
    padding: 15px;
}

    .product-info h3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* Limit to two lines */
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        margin-bottom: 0.5em; /* Adjust as needed */
        
        line-height: 1.2em; /* Adjust line height as needed */
        height: 2.4em; /* Double the line-height to accommodate two lines */
        word-wrap: break-word;
        color: #ACCAC3;
    }

    .product-info p {
        margin-bottom: 5px;
        line-height: 1.4;
        height: 3em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        color: black;
    }


.price {
    font-weight: bold;
    color: #E44D26;
}

.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }






@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-btn-green {
    background-color: #ACCAC3;
    color: white;
}

@media (min-width: 768px) {
    .home-page-items {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .details-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .details-image, .details-other {
        display: flex;
        flex-direction: column;
    }

    .details-image {
        align-items: center;
        justify-content: center;
    }

    .details-other {
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 20px;
    }

    .product-image {
        width: auto;
        max-width: 100%;
    }

    /*SHOP ALL*/
    .product-grids {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 items per row */
        gap: 20px;
    }
}