################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WildPath/.vs/WildPath/FileContentIndex
/WildPath/bin/Debug/net7.0
/WildPath/Migrations
/WildPath/obj
/WildPath/WildPath/bin/Debug/net8.0
/WildPath/WildPath/WildPath.csproj
/WildPath/WildPath.csproj.user
/WildPath/.vs/WildPath/DesignTimeBuild/.dtbcache.v2
/WildPath/WildPath/obj/Debug/net8.0/WildPath.AssemblyInfo.cs
/WildPath/WildPath/obj/Debug/net8.0/WildPath.AssemblyInfoInputs.cache
/WildPath/WildPath/obj/Debug/net8.0
/WildPath/WildPath/obj
/WildPath/WildPath/obj/Debug/net8.0/refint/WildPath.dll
/WildPath/WildPath/obj/Debug/net8.0/ref/WildPath.dll
/WildPath/WildPath/bin/Debug/net8.0/WildPath.dll
/WildPath/WildPath/bin/Debug/net8.0/WildPath.exe
/WildPath/WildPath/bin/Debug/net8.0/WildPath.pdb
/WildPath/WildPath/bin/Debug/net8.0/WildPath.staticwebassets.runtime.json
/WildPath/.vs/WildPath/v17/.suo
/WildPath/.vs/WildPath/DesignTimeBuild/.dtbcache.v2
/WildPath/.vs/WildPath/v17/.suo
/WildPath/WildPath/obj/Debug/net8.0/ref/WildPath.dll
/WildPath/.vs/ProjectEvaluation/wildpath.metadata.v7.bin
/WildPath/.vs/ProjectEvaluation/wildpath.projects.v7.bin
/WildPath/.vs/WildPath/DesignTimeBuild/.dtbcache.v2
/WildPath/.vs/WildPath/v17/.futdcache.v2
/WildPath/WildPath/obj/Debug/net8.0/project.razor.vs.bin
/WildPath/WildPath/obj/Debug/net8.0/project.razor.vs.bin
/WildPath/WildPath/.vs/slnx.sqlite
/WildPath/WildPath/.vs/WildPath/v17/.wsuo
/WildPath/WildPath/.vs/WildPath/v17/DocumentLayout.json
/WildPath/WildPath/.vs/WildPath/FileContentIndex/6eddc9b1-52b3-4c77-95ce-4152d1ef5f79.vsidx
/WildPath/WildPath/.vs/VSWorkspaceState.json
/WildPath/.vs/slnx.sqlite
/WildPath/.vs/VSWorkspaceState.json
/WildPath/.vs/WildPath/v17/.wsuo
/WildPath/.vs/WildPath/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/SSDP-2600/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/SSDP-2600/FileContentIndex/deca375f-59fd-4172-a350-843527316e3b.vsidx
*.cs
/WildPath/WildPath/Migrations/ApplicationDbContextModelSnapshot.cs