@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password Reset Request Submitted";
}

<style>
    .custom-link {
        text-decoration: none;
        font-weight: bold;
        color: black;
    }

        .custom-link:hover {
            text-decoration: underline;
            color: black;
        }
</style>

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-6">
        <hr />
        <p>
            Thank you for submitting your email to reset your password. Your request has been received, and our customer service team has been notified. We will send a response back to you within 24 hours to assist you with resetting your password.

        </p>

        <p>
            If you have any further questions, please feel free to <a href="/Home/CustomerCare" class="custom-link">contact us</a>.
        </p>
    </div>
</div>

