@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thank you. An email has been sent to you. Please check your spam and junk folders. If no email is received you might
    you might not have an account registered with this email address.
</p>

<p>
    If you need to reset your password, please <a asp-page="/ResetPassword">click here</a>.
</p>
