@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
  
    .form-control:focus {
        border-color: initial; 
        box-shadow: none;
    }

    .form-floating input[type="email"],
    .form-floating input[type="password"] {
        border: none;
        border-bottom: 1px solid #ced4da; 
        border-radius: 0;
    }

    #submit-btn {
        background-color: #ACCAC3;
        color: #FFFFFF;
        border: none;
        margin-bottom: 15px;
    }

    #submit-btn:hover {
         background-color: #99b3a9;
         color: #FFFFFF;
     }

     .custom-link {
        text-decoration: none; 
        color: #333;
        font-weight: bold;
    }    

    .custom-link:hover {
        color: #555; 
    }


</style>

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <p>
                Please enter the email address you'd like your password reset information sent to
            </p>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button id="submit-btn" type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
