@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}

<style>
  
    .form-control:focus {
        border-color: initial; 
        box-shadow: none;
    }

    .form-floating input[type="email"],
    .form-floating input[type="email"],
    .form-floating input[type="password"],
    .form-floating input[type="text"] {
        border: none;
        border-bottom: 1px solid #ced4da;
        border-radius: 0;
    }

    #registerSubmit {
        background-color: #ACCAC3;
        color: #FFFFFF;
        border: none;
        padding: 1rem 0.75rem;
        margin-bottom: 15px;
    }

    #registerSubmit:hover {
         background-color: #99b3a9;
         color: #FFFFFF;
     }

     .custom-link {
        text-decoration: none; 
        color: #333;
        font-weight: bold;
    }    

    .custom-link:hover {
        color: #555; 
    }

    .g-recaptcha {
        margin-top: 30px;
    }


</style>

<script src="https://www.google.com/recaptcha/api.js"></script>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email Address</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control"
                       autocomplete="name" aria-required="true" placeholder="First Name" />
                <label asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control"
                       autocomplete="name" aria-required="true" placeholder="Last Name" />
                <label asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="g-recaptcha" data-sitekey='@ViewData["SiteKey"]'></div><br />

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Continue</button>
            <p>
                Already have an account? <a class="custom-link" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log In</a>
            </p>
            <p>
                By Sign up, you are agreeing to our <a href="/Home/TermsAndConditions" class="custom-link">Terms & Conditions</a>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
