@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<h3>Are you sure you want to delete your account?</h3>
<div class="alert alert-warning" role="alert" style="background-color: transparent; color: black; font-size: 18px; border:none;">
    <p style="margin-bottom:0;">
        Deleting this data will permanently remove your account, and this cannot be recovered. <br/>
        If you wish to proceed with deleting your account, please enter your password to confirm.
    </p>
</div>


<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">Yes, Delete this Account</button>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
