@model IEnumerable<WildPath.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string message = ViewBag.Message;
}

<h1>Types of Roles</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
@if (message.Length > 0)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-dark">Create a New Role</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { Rolename = item.RoleName }, new { @class = "btn btn-dark" })
                </td>
            </tr>
        }
    </tbody>
</table>

