<h1 class="text-center">Admin Area</h1>

<div class="text-center mt-3">
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="btn custom-btn-green" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
        </li>
        <li class="nav-item mb-2">
            <a class="btn custom-btn-green" asp-area="" asp-controller="UserRole" asp-action="Index">Users</a>
        </li>
        <li class="nav-item mb-2">
            <a class="btn custom-btn-green" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
        </li>
    </ul>
</div>
