@{
    ViewData["Title"] = "Customer Care";
}

<style>
    html, body, .container, div {
        margin: 0;
        padding: 0;
    }

    .grey-header {
        background-color: rgba(217, 217, 217, 0.5);
        color: black;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        margin-top: -15px;
    }

    .bold-text {
        font-weight: bold;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .address p {
        line-height: 10px;
    }

    .cc-header {
        text-align: left;
        margin-top: 50px;
        margin-bottom: 15px; 
        margin-left: 80px;
        font-weight: bold;
        font-size: 25px;
    }

    .cc-text {
        width: 85%;
        text-align: left;
        padding-left: 80px;
        font-size: 18px;
        margin-left: 20px;
    }

    .cc-info{
        margin-left: 20px;
    
    }
    

</style>

<div class="grey-header">
    <span class="bold-text">CUSTOMER CARE</span>
</div>

<div class="cc-items">
    <h1 class="cc-header">ABOUT US</h1>
    <div class="container">
        <p class="cc-text">
            At Wildpath Gear, we embody the spirit of exploration and adventure. Born from a collective passion for the great outdoors, our store is dedicated to providing high-quality gear and equipment for every nature enthusiast. Whether you're an experienced trailblazer or just starting your journey, we curate a diverse range of products designed to accompany you on your wild path. Committed to sustainability and durability, we aim to equip you with reliable tools, fostering a connection with nature and enabling unforgettable adventures. Join us as we pave the way for exploration, discovery, and an unwavering love for the untamed wilderness.
        </p>
    </div>


    <h1 class="cc-header">STORE INFO</h1>
    <div class="container">
        <div class="cc-text">
            <p><strong>Mailing Address</strong></p>
            <div class="cc-info">
                <p> WildPath Retail Inc.
                 </br>2931 Main St. 
                </br>Vancouver, BC V1A 1A1
                </br>Canada</p>
            </div>

            <p class="mt-4"><strong>Phone Number</strong></p>
            <div class="cc-info">
                <p>1-855-923-2233
                </br>For phone support, we are available Monday – Sunday: 8am – 11pm (PST)</p>
            </div>

            <p class="mt-4"><strong>Email</strong></p>
            <div class="cc-info">
                <p>wildpath@contact.com
                </br>Any questions or concerns? Feel free to send us an email. We aim to reply within 24 hours.</p>
            </div>
        </div>
    </div>


    <h1 class="cc-header">SHIPPING INFO</h1>
    <div class="container">
            <div class="cc-text">
                <strong>Shipping Rates:</strong>
                <ul>
                    <li>Enjoy free standard shipping on orders over $75 within Canada.</li>
                    <li>For orders under $75, a flat-rate shipping fee of $9.99 will apply for standard delivery.</li>
                </ul>
       
                <strong>Shipping Times:</strong>
                <ul>
                    <li> Standard Shipping: Orders are processed within 1-2 business days. Estimated delivery times within Canada range from 3 to 7 business days.</li>
                </ul>
            </div>
    </div>

    <div class="container">
        <p class="text-center">
            <a href="/Home/TermsAndConditions" class="styling-link">Terms and Conditions</a>
        </p>
    </div>

</div>