@{
    ViewData["Title"] = "Terms and Conditions";
}

<style>
    html, body, .container, div {
        margin: 0;
        padding: 0;
    }

    .grey-header {
        background-color: rgba(217, 217, 217, 0.5);
        color: black;
        text-align: center;
        padding: 10px 0;
        font-size: 15px;
        margin-top: -15px;
    }

    .bold-text {
        font-weight: bold;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .tc-first-text {
        font-weight:bold;
        font-size: 22px;
    }

    .tc-text {
        text-align: left;
        width: 85%;
        padding-left: 80px;
        margin-top: 50px;
        font-size: 18px;
    }

    .tc-titles {
        margin-top: 50px;
        font-weight: 600;
        font-style: italic;
    }

.tc-info {
        margin-left: 20px;
    }

</style>

<div class="grey-header">
    <span class="bold-text">TERMS AND CONDITIONS</span>
</div>

<div class="container">
    <div class="tc-text">
        <p class="tc-first-text">Welcome to Wildpath Gear! These terms and conditions outline the rules and regulations for the use of our website.</p>

        <p>By accessing this website, we assume you accept these terms and conditions. Do not continue to use Wildpath Gear if you do not agree to all the terms and conditions stated on this page.</p>

        <p class="tc-titles">1. License to Use</p>
        <div class="tc-info">
            <p>1.1. Unless otherwise stated, Wildpath Gear and/or its licensors own the intellectual property rights for all material on this website.</p>
            <p>1.2. You may view and/or print pages from Wildpath Gear for your own personal use subject to restrictions set in these terms and conditions.</p>
        </div>

        <p class="tc-titles">2. Products and Orders</p>
        <div class="tc-info">
            <p>2.1. By placing an order through Wildpath Gear, you warrant that you are legally capable of entering into binding contracts.</p>
            <p>2.2. All orders are subject to availability and confirmation of the order price. We reserve the right to cancel any order without notice.</p>
            <p>2.3. We strive to ensure that the information on our website is accurate; however, we do not warrant the accuracy or reliability of the content.</p>
        </div>

        <p class="tc-titles">3. Pricing and Payments</p>
        <div class="tc-info">
            <p>3.1. Prices for our products are subject to change without notice.</p>
            <p>3.2. We accept payment through various methods. You agree to provide current, complete, and accurate purchase and account information for all purchases made at Wildpath Gear.</p>
            <p>3.3. All payments are processed securely. We do not store credit card details nor do we share customer details with any third parties.</p>
        </div>
    </div>
</div>

<div class="container">
    <p class="text-center">
        <a href="/Home/CustomerCare" class="styling-link">Customer Care</a>
    </p>
</div>